<html>
<head>
<title>ViewEmployee.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
ViewEmployee.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot; </span><span class="s2">xmlns:th</span><span class="s3">=&quot;http://www.thymeleaf.org&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;head&gt;</span>
    <span class="s0">&lt;meta </span><span class="s2">charset</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;title&gt;</span><span class="s1">View Employee</span><span class="s0">&lt;/title&gt;</span>
    <span class="s0">&lt;link </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s2">href</span><span class="s3">=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;link </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s2">href</span><span class="s3">=&quot;https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
    <span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
    <span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
    <span class="s0">&lt;style&gt;</span>
        <span class="s1">a{</span>
        <span class="s1">color: white;</span>
        <span class="s1">text-decoration: none;</span>
        <span class="s1">}</span>
        <span class="s1">a:hover{</span>
        <span class="s1">color: white;</span>
        <span class="s1">text-decoration: none;</span>
        <span class="s1">}</span>
    <span class="s0">&lt;/style&gt;</span>
<span class="s0">&lt;/head&gt;</span>
<span class="s0">&lt;body&gt;</span>
<span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;h1 </span><span class="s2">class</span><span class="s3">=&quot;p-3&quot;</span><span class="s0">&gt;</span><span class="s1">Employees List</span><span class="s0">&lt;/h1&gt;</span>
    <span class="s0">&lt;table </span><span class="s2">class</span><span class="s3">=&quot;table table-bordered&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;thead&gt;</span>
        <span class="s0">&lt;tr&gt;</span>
            <span class="s0">&lt;th&gt;</span><span class="s1">Id</span><span class="s0">&lt;/th&gt;</span>
            <span class="s0">&lt;th&gt;</span><span class="s1">First Name</span><span class="s0">&lt;/th&gt;</span>
            <span class="s0">&lt;th&gt;</span><span class="s1">Last Name</span><span class="s0">&lt;/th&gt;</span>
            <span class="s0">&lt;th&gt;</span><span class="s1">Email</span><span class="s0">&lt;/th&gt;</span>
            <span class="s0">&lt;th&gt;</span><span class="s1">Date of Birth</span><span class="s0">&lt;/th&gt;</span>
            <span class="s0">&lt;th&gt;</span><span class="s1">Gender</span><span class="s0">&lt;/th&gt;</span>
            <span class="s0">&lt;th&gt;</span><span class="s1">Edit</span><span class="s0">&lt;/th&gt;</span>
            <span class="s0">&lt;th&gt;</span><span class="s1">Delete</span><span class="s0">&lt;/th&gt;</span>
        <span class="s0">&lt;/tr&gt;</span>
        <span class="s0">&lt;/thead&gt;</span>
        <span class="s0">&lt;tbody&gt;</span>
        <span class="s0">&lt;tr </span><span class="s2">th:each</span><span class="s3">=&quot;employee : ${empList}&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;td </span><span class="s2">th:text</span><span class="s3">=&quot;${employee.id}&quot;</span><span class="s0">&gt;&lt;/td&gt;</span>
            <span class="s0">&lt;td </span><span class="s2">th:text</span><span class="s3">=&quot;${employee.firstName}&quot;</span><span class="s0">&gt;&lt;/td&gt;</span>
            <span class="s0">&lt;td </span><span class="s2">th:text</span><span class="s3">=&quot;${employee.lastName}&quot;</span><span class="s0">&gt;&lt;/td&gt;</span>
            <span class="s0">&lt;td </span><span class="s2">th:text</span><span class="s3">=&quot;${employee.email}&quot;</span><span class="s0">&gt;&lt;/td&gt;</span>
            <span class="s0">&lt;td </span><span class="s2">th:text</span><span class="s3">=&quot;${employee.dob}&quot;</span><span class="s0">&gt;&lt;/td&gt;</span>
            <span class="s0">&lt;td </span><span class="s2">th:text</span><span class="s3">=&quot;${employee.gender}&quot;</span><span class="s0">&gt;&lt;/td&gt;</span>
            <span class="s0">&lt;td&gt;</span>
                <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;btn btn-success&quot;</span><span class="s0">&gt;&lt;a </span><span class="s2">th:href</span><span class="s3">=&quot;@{/editEmployee/{id}(id=${employee.id})}&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn btn-primary&quot;</span><span class="s0">&gt;</span><span class="s1">Edit</span><span class="s0">&lt;/a&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/td&gt;</span>
            <span class="s0">&lt;td&gt;</span>
                <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;btn btn-success&quot;</span><span class="s0">&gt;&lt;a </span><span class="s2">th:href</span><span class="s3">=&quot;@{/deleteEmployee/{id}(id=${employee.id})}&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn btn-primary&quot;</span><span class="s0">&gt;</span><span class="s1">Delete</span><span class="s0">&lt;/a&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/td&gt;</span>
        <span class="s0">&lt;/tr&gt;</span>
        <span class="s0">&lt;/tbody&gt;</span>
    <span class="s0">&lt;/table&gt;</span>
    <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;btn btn-primary btn-block&quot;</span><span class="s0">&gt;&lt;a </span><span class="s2">th:href</span><span class="s3">=&quot;/addEmployee&quot;</span><span class="s0">&gt;</span><span class="s1">Add New Employee</span><span class="s0">&lt;/a&gt;&lt;/button&gt;</span>
<span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;script </span><span class="s2">th:inline</span><span class="s3">=&quot;javascript&quot;</span><span class="s0">&gt;</span>
    <span class="s1">window.onload = function() {</span>

    <span class="s1">var msg = [[${message}]];</span>
    <span class="s1">console.log(msg);</span>
    <span class="s1">if (msg == &quot;save success&quot;){</span>

    <span class="s1">Command: toastr[&quot;success&quot;](&quot;user created successfully !!&quot;)</span>

<span class="s1">toastr.options = {</span>
  <span class="s1">&quot;closeButton&quot;: false,</span>
  <span class="s1">&quot;debug&quot;: false,</span>
  <span class="s1">&quot;newestOnTop&quot;: false,</span>
  <span class="s1">&quot;progressBar&quot;: false,</span>
  <span class="s1">&quot;positionClass&quot;: &quot;toast-top-right&quot;,</span>
  <span class="s1">&quot;preventDuplicates&quot;: false,</span>
  <span class="s1">&quot;onclick&quot;: null,</span>
  <span class="s1">&quot;showDuration&quot;: &quot;300&quot;,</span>
  <span class="s1">&quot;hideDuration&quot;: &quot;1000&quot;,</span>
  <span class="s1">&quot;timeOut&quot;: &quot;5000&quot;,</span>
  <span class="s1">&quot;extendedTimeOut&quot;: &quot;1000&quot;,</span>
  <span class="s1">&quot;showEasing&quot;: &quot;swing&quot;,</span>
  <span class="s1">&quot;hideEasing&quot;: &quot;linear&quot;,</span>
  <span class="s1">&quot;showMethod&quot;: &quot;fadeIn&quot;,</span>
  <span class="s1">&quot;hideMethod&quot;: &quot;fadeOut&quot;</span>
<span class="s1">}</span>
    <span class="s1">}</span>

    <span class="s1">}</span>
<span class="s0">&lt;/script&gt;</span>

<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span></pre>
</body>
</html>